body {
  padding: 0.875rem;
}

.badge-secondary {
  background-color: #6c757d;
  color: #fff;
}

.list-group-item > p {
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  flex-grow: 1;
}

/* li > p {
  overflow: hidden;
  text-overflow: ellipsis;
} */

.complete {
  text-decoration: line-through;
}
